
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    background-color: gainsboro;
}

h1 {text-align: center;}

h2 {
    text-align: center; 
    color: rebeccapurple;
}

table {
    border: 2px solid darkorchid;
    width: 90%;
    margin: 40px auto;
}

thead {background-color: plum;}

td {border-top: 1px solid darkorchid;}

tr {
    display: table-row;
    border-top: darkorchid;
}

.code {
    font-family: monospace; 
    background-color: beige; 
}

#signature span {margin-left: 30px;}